/* 초기화 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
:root {
  --main-color: rgba(26, 80, 35, 0.795);
}
/* header */
header {
  text-align: center;
  height: 70px;
  box-shadow: 0 1px 5px rgb(207, 207, 207);
}
header li {
  display: inline-block;
}
header li a {
  display: block;
  padding: 0 20px;
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 70px;
}
header li a::before {
  content: "";
  display: block;
  position: absolute;
  background-color: red;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 10px;
  transition: all 0.5s;
}
header li a:hover::before {
  width: 100%;
  left: 0;
}

/* section */
section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;

  background-image: url(https://cdn.pixabay.com/photo/2021/01/05/06/40/boat-5889919_960_720.png);
  background-size: cover;

  z-index: -1;
}

section .section__greeting {
  margin: 100px 0 0 30px;
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
  animation: slidein 4s forwards;
  filter: drop-shadow(3px 3px 1px rgba(199, 195, 195, 0.582));
}
@keyframes slidein {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 100px;
  }
}
